doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title cran
    link(rel="stylesheet", href="/static/css/styles.css")
  body.home
    form.home__content(action="/report", method="GET")
      p Saisissez l'adresse d'un #[a(href="http://www.assemblee-nationale.fr/15/debats/index.asp") compte rendu] de l'assemblée nationale pour en générer une version stylisée 🌟.
      .home__form
        input.home__input(type="text", name="source")
        button.home__button(type="submit") Go!