if eq .Node.Type "Section"
  h2.section__title(id=.Node.ID, class=print "section__title--" .Level)= .Node.Title
  each _ in .Node.Children
    | {{ template "item-selector.pug" (wrap . $.Report $.Level) }}
else if eq .Node.Type "Intervention"
  .intervention(id=.Node.ID)
    | {{ $s := (index .Report.Speakers .Node.SpeakerID) }}
    if $s
      .intervention__speaker.speaker
        if $s.PictureURL
          .speaker__picture(style="background-image: url('{{ $s.PictureURL }}')")
        .speaker__data
          a.speaker__name(href=$s.ProfileURL)= $s.Name
          p.speaker__meta= $s.Meta
        a.intervention__permalink(href=print "#" .Node.ID) #
    else
      .intervention__speaker.speaker
        p= .Node.SpeakerID
    .intervention__content
      p 
        | {{ raw .Node.Content }}
else if eq .Node.Type "Notice"
  .notice(id=.Node.ID)
    p
      | {{ raw .Node.Content }}