doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title {{ .Title }} - cran
    link(rel="stylesheet", href="/static/css/styles.css")
  body.report
    .report__header.report-header
      img(src=.IconURL).report-header__icon
      div
        .report-header__title= .Title
        a(href=.URL).report-header__source= .URL
    
    .report__content
      .report__nav
        ul.report-nav
          | {{ template "report-nav.pug" . }}
      
      .report__feed
        each _ in .Children
          | {{ template "item-selector.pug" (wrap . $) }}
    //- .report__header
    //-   h1.report__title= .Title
    //-   a.report__source(href=.Source)= .Source

    //- .report__content
    //-   each _ in .Sections
    //-     .section(id=.ID)
    //-       .section__header
    //-         a.section__title(href=print "#" .ID)= .Title
    //-       if .Interventions
    //-         .section__interventions
    //-           each _ in .Interventions
    //-             | {{ $s := $.Speaker .SpeakerID }}
    //-             if $s
    //-               .intervention(id=.ID)
    //-                 .intervention__speaker.speaker
    //-                   if $s.PictureURL
    //-                     .speaker__picture(style="background-image: url('{{ $s.PictureURL }}')")
    //-                   .speaker__data
    //-                     a.speaker__name(href=$s.URL)= $s.Name
    //-                     p.speaker__meta= $s.Meta
    //-                   a.intervention__permalink(href=print "#" .ID) #
    //-                 .intervention__sentence
    //-                   p 
    //-                     | {{ raw .Sentence }}
    //-             else
    //-               p.notice
    //-                 | {{ raw .Sentence }} 
      